@model IEnumerable<ProjectQuiz.Data.User>

@{
    ViewData["Title"] = "Login";
    var user = Model.FirstOrDefault(); // Lấy đối tượng User đầu tiên từ danh sách
}

<h1>Login</h1>

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Login" method="post">
            <div class="form-group">
                <label asp-for="@user.Username" class="control-label"></label>
                <input asp-for="@user.Username" class="form-control" />
                <span asp-validation-for="@user.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@user.PasswordHash" class="control-label">Password</label>
                <input asp-for="@user.PasswordHash" class="form-control" type="password" />
                <span asp-validation-for="@user.PasswordHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
